* {
  font-family: Roboto;
  color: gray;
  margin: 0;
}

.container {
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, h7 {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

/* HSL */
$color1: hsla(169%, 61%, 59%, 1);
$color2: hsla(207%, 95%, 8%, 1);
$color3: hsla(352%, 93%, 53%, 1);
$color4: hsla(100%, 100%, 99%, 1);
$color5: hsla(35%, 100%, 55%, 1);

/* RGB */
$color1: rgba(85, 214, 190, 1);
$color2: rgba(1, 22, 39, 1);
$color3: rgba(247, 23, 53, 1);
$color4: rgba(253, 255, 252, 1);
$color5: rgba(255, 159, 28, 1);
